In [1]:
import pandas as pd
import json
import requests

In [2]:
url = r"http://api.eia.gov/series/?api_key="
#api_key = "b26796779afd6f8b68e04d2ee1c4a3eb"
lst = "&series_id=ELEC.GEN.ALL-DC-99.M"

In [ ]:
# read the file and store the API key as a variable
with open("doe.txt","r") as file:
    for line in file:
        api_key = line

In [4]:
# request the website 
response = requests.get(url+api_key+lst)
response

In [7]:
energydata = response.json()
energydata

{'request': {'command': 'series', 'series_id': 'ELEC.GEN.ALL-DC-99.M'},
 'series': [{'copyright': 'None',
   'data': [['201812', 8.232],
    ['201811', 4.205],
    ['201810', 3.796],
    ['201809', 6.007],
    ['201808', 4.698],
    ['201807', 9.104],
    ['201806', 6.552],
    ['201805', 3.814],
    ['201804', 9.69524],
    ['201803', 8.844],
    ['201802', 7.593],
    ['201801', 6.937],
    ['201712', 5.902],
    ['201711', 4.285],
    ['201710', 4.692],
    ['201709', 5.197],
    ['201708', 2.615],
    ['201707', 5.666],
    ['201706', 5.927],
    ['201705', 4.614],
    ['201704', 3.865],
    ['201703', 8.894],
    ['201702', 5.497],
    ['201701', 9.717],
    ['201612', 6.51682],
    ['201611', 6.00016],
    ['201610', 5.66528],
    ['201609', 6.10052],
    ['201608', 6.97555],
    ['201607', 7.03388],
    ['201606', 6.61652],
    ['201605', 6.60897],
    ['201604', 6.41554],
    ['201603', 6.18731],
    ['201602', 5.93492],
    ['201601', 6.41855],
    ['201512', 6.68545],
    ['201511', 6.40884],
    ['201510', 6.42552],
    ['201509', 6.06837],
    ['201508', 6.64876],
    ['201507', 6.90417],
    ['201506', 5.97757],
    ['201505', 1.95063],
    ['201504', 1.71792],
    ['201503', 1.67533],
    ['201502', 1.57456],
    ['201501', 1.71289],
    ['201412', 5.23709],
    ['201411', 4.84131],
    ['201410', 5.60175],
    ['201409', 6.38127],
    ['201408', 7.24404],
    ['201407', 6.87549],
    ['201406', 6.25568],
    ['201405', 5.83832],
    ['201404', 5.25072],
    ['201403', 5.02127],
    ['201402', 3.83656],
    ['201401', 5.22866],
    ['201312', 4.79428],
    ['201311', 4.81412],
    ['201310', 5.59004],
    ['201309', 6.0465],
    ['201308', 6.69003],
    ['201307', 6.42078],
    ['201306', 5.96759],
    ['201305', 5.33605],
    ['201304', 4.9906],
    ['201303', 5.1073],
    ['201302', 5.04702],
    ['201301', 5.04778],
    ['201212', 4.74765],
    ['201211', 4.14174],
    ['201210', 4.92087],
    ['201209', 5.68072],
    ['201208', 6.2387],
    ['201207', 6.74497],
    ['201206', 5.72304],
    ['201205', 11.85202],
    ['201204', 7.15931],
    ['201203', 4.80981],
    ['201202', 4.3837],
    ['201201', 5.38425],
    ['201112', 5.63726],
    ['201111', 5.14364],
    ['201110', 5.92334],
    ['201109', 8.82012],
    ['201108', 32.86951],
    ['201107', 80.62099],
    ['201106', 31.27807],
    ['201105', 9.1561],
    ['201104', 5.48893],
    ['201103', 4.92537],
    ['201102', 4.25041],
    ['201101', 6.76022],
    ['201012', 5.37],
    ['201011', 0],
    ['201010', 3.376],
    ['201009', 14.703],
    ['201008', 23.994],
    ['201007', 50.938],
    ['201006', 74.421],
    ['201005', 23.925],
    ['201004', 0.805],
    ['201003', 2.326],
    ['201002', 0],
    ['201001', 0],
    ['200912', 0.406],
    ['200911', 0],
    ['200910', 0],
    ['200909', 0],
    ['200908', 11.677],
    ['200907', 6.057],
    ['200906', 7.917],
    ['200905', 0.183],
    ['200904', 0.581],
    ['200903', 0],
    ['200902', 2.875],
    ['200901', 5.803],
    ['200812', 0],
    ['200811', 0],
    ['200810', 2.741],
    ['200809', 0.579],
    ['200808', 5.479],
    ['200807', 8.742],
    ['200806', 50.119],
    ['200805', 0],
    ['200804', 0],
    ['200803', 0.401],
    ['200802', 1.258],
    ['200801', 2.997],
    ['200712', -0.521],
    ['200711', -0.707],
    ['200710', 3.636],
    ['200709', 5.516],
    ['200708', 40.581],
    ['200707', 11.312],
    ['200706', 14.143],
    ['200705', -0.318],
    ['200704', -0.316],
    ['200703', -0.239],
    ['200702', 2.682],
    ['200701', -0.518],
    ['200612', 2.69],
    ['200611', -0.659],
    ['200610', 0.553],
    ['200609', -0.516],
    ['200608', 47.754],
    ['200607', 22.549],
    ['200606', 3.743],
    ['200605', 1.706],
    ['200604', 0.15],
    ['200603', -0.329],
    ['200602', 1.474],
    ['200601', 2.352],
    ['200512', 4.789],
    ['200511', 0.003],
    ['200510', 9.168],
    ['200509', 3.973],
    ['200508', 75.277],
    ['200507', 90.491],
    ['200506', 42.336],
    ['200505', -0.61],
    ['200504', -0.599],
    ['200503', -1.094],
    ['200502', 0.215],
    ['200501', 2.093],
    ['200412', 4.07],
    ['200411', -0.698],
    ['200410', -0.634],
    ['200409', 1.001],
    ['200408', 4.605],
    ['200407', 1.68],
    ['200406', 6.154],
    ['200405', 2.674],
    ['200404', -0.563],
    ['200403', 0.549],
    ['200402', 1.829],
    ['200401', 15.82],
    ['200312', -0.793],
    ['200311', -0.645],
    ['200310', -0.625],
    ['200309', -0.599],
    ['200308', 24.567],
    ['200307', 10.741],
    ['200306', 3.552],
    ['200305', 1.614],
    ['200304', 0.764],
    ['200303', 13.086],
    ['200302', 12.549],
    ['200301', 9.933],
    ['200212', 3.589],
    ['200211', 0.421],
    ['200210', -0.565],
    ['200209', 3.17],
    ['200208', 85.726],
    ['200207', 101.334],
    ['200206', 30.828],
    ['200205', -0.616],
    ['200204', 22.998],
    ['200203', 11.399],
    ['200202', 4.729],
    ['200201', -1.033],
    ['200112', 0],
    ['200111', 31.622],
    ['200110', 3.497],
    ['200109', 0],
    ['200108', 47.587],
    ['200107', 24.107],
    ['200106', 0.488],
    ['200105', 5.921],
    ['200104', 0.766],
    ['200103', 0],
    ['200102', 0],
    ['200101', 9.251]],
   'description': 'Summation of all fuels used for electricity generation; All sectors; ',
   'end': '201812',
   'f': 'M',
   'geography': 'USA-DC',
   'iso3166': 'USA-DC',
   'name': 'Net generation : all fuels : District Of Columbia : all sectors : monthly',
   'series_id': 'ELEC.GEN.ALL-DC-99.M',
   'source': 'EIA, U.S. Energy Information Administration',
   'start': '200101',
   'units': 'thousand megawatthours',
   'updated': '2019-03-01T00:40:06-0500'}]}

In [21]:
type(energydata['series'][0]['data']) # type is a list

list

In [55]:
datas = energydata['series'][0]['data']
datas

[['201812', 8.232],
 ['201811', 4.205],
 ['201810', 3.796],
 ['201809', 6.007],
 ['201808', 4.698],
 ['201807', 9.104],
 ['201806', 6.552],
 ['201805', 3.814],
 ['201804', 9.69524],
 ['201803', 8.844],
 ['201802', 7.593],
 ['201801', 6.937],
 ['201712', 5.902],
 ['201711', 4.285],
 ['201710', 4.692],
 ['201709', 5.197],
 ['201708', 2.615],
 ['201707', 5.666],
 ['201706', 5.927],
 ['201705', 4.614],
 ['201704', 3.865],
 ['201703', 8.894],
 ['201702', 5.497],
 ['201701', 9.717],
 ['201612', 6.51682],
 ['201611', 6.00016],
 ['201610', 5.66528],
 ['201609', 6.10052],
 ['201608', 6.97555],
 ['201607', 7.03388],
 ['201606', 6.61652],
 ['201605', 6.60897],
 ['201604', 6.41554],
 ['201603', 6.18731],
 ['201602', 5.93492],
 ['201601', 6.41855],
 ['201512', 6.68545],
 ['201511', 6.40884],
 ['201510', 6.42552],
 ['201509', 6.06837],
 ['201508', 6.64876],
 ['201507', 6.90417],
 ['201506', 5.97757],
 ['201505', 1.95063],
 ['201504', 1.71792],
 ['201503', 1.67533],
 ['201502', 1.57456],
 ['201501', 1.71289],
 ['201412', 5.23709],
 ['201411', 4.84131],
 ['201410', 5.60175],
 ['201409', 6.38127],
 ['201408', 7.24404],
 ['201407', 6.87549],
 ['201406', 6.25568],
 ['201405', 5.83832],
 ['201404', 5.25072],
 ['201403', 5.02127],
 ['201402', 3.83656],
 ['201401', 5.22866],
 ['201312', 4.79428],
 ['201311', 4.81412],
 ['201310', 5.59004],
 ['201309', 6.0465],
 ['201308', 6.69003],
 ['201307', 6.42078],
 ['201306', 5.96759],
 ['201305', 5.33605],
 ['201304', 4.9906],
 ['201303', 5.1073],
 ['201302', 5.04702],
 ['201301', 5.04778],
 ['201212', 4.74765],
 ['201211', 4.14174],
 ['201210', 4.92087],
 ['201209', 5.68072],
 ['201208', 6.2387],
 ['201207', 6.74497],
 ['201206', 5.72304],
 ['201205', 11.85202],
 ['201204', 7.15931],
 ['201203', 4.80981],
 ['201202', 4.3837],
 ['201201', 5.38425],
 ['201112', 5.63726],
 ['201111', 5.14364],
 ['201110', 5.92334],
 ['201109', 8.82012],
 ['201108', 32.86951],
 ['201107', 80.62099],
 ['201106', 31.27807],
 ['201105', 9.1561],
 ['201104', 5.48893],
 ['201103', 4.92537],
 ['201102', 4.25041],
 ['201101', 6.76022],
 ['201012', 5.37],
 ['201011', 0],
 ['201010', 3.376],
 ['201009', 14.703],
 ['201008', 23.994],
 ['201007', 50.938],
 ['201006', 74.421],
 ['201005', 23.925],
 ['201004', 0.805],
 ['201003', 2.326],
 ['201002', 0],
 ['201001', 0],
 ['200912', 0.406],
 ['200911', 0],
 ['200910', 0],
 ['200909', 0],
 ['200908', 11.677],
 ['200907', 6.057],
 ['200906', 7.917],
 ['200905', 0.183],
 ['200904', 0.581],
 ['200903', 0],
 ['200902', 2.875],
 ['200901', 5.803],
 ['200812', 0],
 ['200811', 0],
 ['200810', 2.741],
 ['200809', 0.579],
 ['200808', 5.479],
 ['200807', 8.742],
 ['200806', 50.119],
 ['200805', 0],
 ['200804', 0],
 ['200803', 0.401],
 ['200802', 1.258],
 ['200801', 2.997],
 ['200712', -0.521],
 ['200711', -0.707],
 ['200710', 3.636],
 ['200709', 5.516],
 ['200708', 40.581],
 ['200707', 11.312],
 ['200706', 14.143],
 ['200705', -0.318],
 ['200704', -0.316],
 ['200703', -0.239],
 ['200702', 2.682],
 ['200701', -0.518],
 ['200612', 2.69],
 ['200611', -0.659],
 ['200610', 0.553],
 ['200609', -0.516],
 ['200608', 47.754],
 ['200607', 22.549],
 ['200606', 3.743],
 ['200605', 1.706],
 ['200604', 0.15],
 ['200603', -0.329],
 ['200602', 1.474],
 ['200601', 2.352],
 ['200512', 4.789],
 ['200511', 0.003],
 ['200510', 9.168],
 ['200509', 3.973],
 ['200508', 75.277],
 ['200507', 90.491],
 ['200506', 42.336],
 ['200505', -0.61],
 ['200504', -0.599],
 ['200503', -1.094],
 ['200502', 0.215],
 ['200501', 2.093],
 ['200412', 4.07],
 ['200411', -0.698],
 ['200410', -0.634],
 ['200409', 1.001],
 ['200408', 4.605],
 ['200407', 1.68],
 ['200406', 6.154],
 ['200405', 2.674],
 ['200404', -0.563],
 ['200403', 0.549],
 ['200402', 1.829],
 ['200401', 15.82],
 ['200312', -0.793],
 ['200311', -0.645],
 ['200310', -0.625],
 ['200309', -0.599],
 ['200308', 24.567],
 ['200307', 10.741],
 ['200306', 3.552],
 ['200305', 1.614],
 ['200304', 0.764],
 ['200303', 13.086],
 ['200302', 12.549],
 ['200301', 9.933],
 ['200212', 3.589],
 ['200211', 0.421],
 ['200210', -0.565],
 ['200209', 3.17],
 ['200208', 85.726],
 ['200207', 101.334],
 ['200206', 30.828],
 ['200205', -0.616],
 ['200204', 22.998],
 ['200203', 11.399],
 ['200202', 4.729],
 ['200201', -1.033],
 ['200112', 0],
 ['200111', 31.622],
 ['200110', 3.497],
 ['200109', 0],
 ['200108', 47.587],
 ['200107', 24.107],
 ['200106', 0.488],
 ['200105', 5.921],
 ['200104', 0.766],
 ['200103', 0],
 ['200102', 0],
 ['200101', 9.251]]

In [36]:
energydata['series'][0]['data'][0][1]

8.232

In [88]:
periodlst = []
valuelst = []
yearlst = []
monthlst = []

In [89]:
# loop through and append the infos into the empity list 
for values in datas:
    yearmonth = datetime.strptime(values[0],'%Y%m')
    year = yearmonth.strftime('%Y')
    month = yearmonth.strftime('%m')
    #periodlst.append(values[0])
    yearlst.append(year)
    monthlst.append(month)
    
    valuelst.append(values[1])

In [99]:
print(len(yearlst))
print(len(monthlst))
print(len(valuelst))

216
216
216

In [59]:
print(len(periodlst))
print(len(valuelst))

216
216

In [104]:
DOEdf = {"Month":monthlst,
         "Year":yearlst,
         "Value [thousand megawatthours]":valuelst}

In [105]:
# create data frame with column names in it 
df = pd.DataFrame(data=DOEdf)
df.head()

  Month  Value [thousand megawatthours]  Year
0    12                           8.232  2018
1    11                           4.205  2018
2    10                           3.796  2018
3    09                           6.007  2018
4    08                           4.698  2018

In [69]:
from datetime import datetime

In [70]:
for

In [71]:
xyz

'201812'

In [75]:
new = datetime.strptime(xyz,'%Y%m')
new

datetime.datetime(2018, 12, 1, 0, 0)

In [80]:
new('%A')

TypeError: 'datetime.datetime' object is not callable

In [82]:
date = pd.to_datetime(new)
date

Timestamp('2018-12-01 00:00:00')

In [85]:
date.strftime('%Y')

'2018'

In [87]:
date.strftime('%m')

'12'

In [86]:
new_date = pd.to_datetime(xyz)
new_date

ValueError: month must be in 1..12